.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd9d9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .list-group-item {
    border: none;
    padding: 20px;
  }
  
  .list-group-item h3 {
    margin-top: 0;
  }
  
  .list-group-item p {
    margin-bottom: 0;
  }